
/* Whole document: */

body{
  color: white;
  font-family: Times New Roman;
  background-color: black;
  font-size: 12pt;
  }


/* Headers */

h1,h2,h3,h4,h5,h6{
  color: white;
  font-family: Times New Roman;
  background-color: black;
}